<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FontType" value =""/>
		<add key="UserLoginLocation" value=""/>
		<add key ="UserLocation" value=""/>
		<add key="ColourScheme" value="Preview1"/>
		<add key ="FirstRunOfNewUPdate" value="0"/>
		<add key="QuickClose" value="False"/>
		<add key ="BoardToOpen" value ="Board1"/>
	</appSettings>
</configuration>